.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: transparent;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to right, #4facfe, #00f2fe);
    -fx-background-radius: 10px 10px 0 0;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35px;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
}

.table-view .table-row-cell {
    -fx-background-color: #ffffff;
    -fx-font-size: 13px;
    -fx-text-fill: #333333;
}

.table-view .table-row-cell:filled:selected,
.table-view .table-row-cell:filled:selected:hover {
    -fx-background-color: linear-gradient(to right, #43e97b, #38f9d7);
    -fx-text-fill: white;
}

.table-view .table-row-cell:hover {
    -fx-background-color: #f1faff;
}
